 @{
    Robot robot = ViewData["robot"] as Robot;
 }
 <div class="container main-robot-page">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="@robot.Link()" class="card-img-top" alt="Animal Image">
                            <h1>WANTED</h1>
                    <div class="card-body">
                        <h5 class="card-title">@robot.nom</h5>
                        <p class="card-text">Poids: @robot.poids</p>
                        <p class="card-text">Pays: @robot.pays</p>
                    </div>
                </div>
            </div>
        </div>
    </div>